
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Conciliador</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'url_venda' %}">Venda</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Consultas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'url_retornos_vendas' %}">Retornos Vendas</a></li>
                <li><a href="{% url 'url_retornos_recebimentos' %}">Retornos Recebimentos</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'url_conciliacoes_vendas' %}">Conciliacções Vendas</a></li> 
                <li><a href="{% url 'url_conciliacoes_recebimentos' %}">Conciliacções Recebimentos</a></li> 
                <li><a href="{% url 'url_conciliacoes_recebimentos_filiais' %}">Conciliacções Recebimentos Filiais</a></li> 
                <li><a href="{% url 'url_conciliacoes_recebimentos_filiais_id' %}">Conciliacções Recebimentos Por Filial</a></li>
                <li><a href="{% url 'url_conciliacoes_vendas_filiais' %}">Conciliacções Vendas Filiais</a></li> 
                <li><a href="{% url 'url_conciliacoes_vendas_filiais_id' %}">Conciliacções Vendas Por Filial </a></li> 
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'url_lancamentos' %}">Lançamentos Vendas</a></li>
                <li><a href="{% url 'url_lancamentos_filiais' %}">Lançamentos Vendas Filiais</a></li>
                <li><a href="{% url 'url_lancamentos_previsoes' %}">Lançamentos Previsoes</a></li>
                <li><a href="{% url 'url_lancamentos_recebimentos' %}">Lançamentos Recebimentos</a></li>
                <li><a href="{% url 'url_lancamentos_recebimentos_filiais' %}">Lançamentos Recebimentos Filiais</a></li>
                <li><a href="{% url 'url_lancamentos_previsoes_filiais' %}">Lançamentos Previsoes Filiais</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'password-change' %}">Alterar senha</a></li>
            <li><a href="{% url 'url_logout' %}">Sair</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
