{% extends 'base.html' %}

{% block title %}
titulo
{% endblock %}

{% block main %}
	<h1>Conciliações Vendas</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form }}
		<button type='submit'>Consultar</button>
	</form>

	<ul>
		{% for i in lista %}
			<li>Adquirente: {{i.adquirente}}</li>
			<li>Bandeira: {{i.bandeira}}</li>
			<li>Quantidade dos lançamentos de conta: {{i.quantidadeLancamentosConta}}</li>
			<li>Quantidade dos lançamentos de contrapartida: {{i.quantidadeLancamentosContrapartida}}</li>
			<li>Valor total de conta: {{i.valorConta}}</li>
			<li>Valor total de contra partida: {{i.valorContrapartida}}</li>
			<li>Diferença conciliada entre conta e contrapartida: {{i.diferenca}}</li>
			<br><br>
		{% endfor %}
	</ul>
{% endblock %}

{% block footer %}
{% endblock %}