{% extends 'base.html' %}

{% block title %}
titulo
{% endblock %}

{% block main %}
	<h1>Lancamentos</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form }}
		<button type='submit'>Consultar</button>
	</form>
	<br><br>
	<ul>
		{% for lancamento in lista %}			
			<li>Adquirente: {{lancamento.adquirente}}</li>			
			<li>Agencia: {{lancamento.agencia}}</li>			
			<li>Quantidade De Lancamentos: {{lancamento.quantidadeDeLancamentos}}</li>			
			<li>Valor Liquido: {{lancamento.valorLiquido}}</li>
			<br><br>			
		{% endfor %}
	</ul>
{% endblock %}

{% block footer %}
{% endblock %}